<!DOCTYPE html>
<html>
    <head>
        <title>Check Code</title>
    </head>
    <body>
        <form action="/create-user" method="post">
            <label>Enter code</label>
            <input placeholder="Enter Code" name="code">
            <br><br>
            <button>Submit</button>
        </form>
    </body>
</html>