<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <ul>
            <li><a href="login">Login</a></li>
            <br><br>
            <li><a href="register">Register</a></li>
            <br><br>
        </ul>
    </body>
</html>