<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style3.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main-container">
        <div class="card-container">
            <div class="card">
                <div class="card-content">
                    <div class="heading">
                        <h1>Login</h1>
                    </div>
                    <form action="/user-login" method="post">
                        <div class="input-group">
                            <i class="fa-solid fa-envelope"></i>
                            <input placeholder="Enter Email" name="email">

                        </div>

                        <br>
                        <div class="input-group">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Enter Password" name="password">

                        </div>
                        <p><a id="fp" href="/forgot-password">Forgot Password?</a></p>

                        <br>
                        <button type="submit" class="submit-btn">Submit</button>

                    </form>
                    <br>
                    <div id="OR">


                        <p>OR</p>
                    </div>
                    <br>
                    <form action="/auth/google" method="get">
                        <button class="google-btn">
                            <img src="/images/google_logo.svg" class="google-icon">
                            Authenticate with Google
                        </button>
                    </form>
                    <br>
                    <p class="login-btn">New here? <a href="/register">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>