<!DOCTYPE html>
<html>
    <head>
        <title>Register User</title>
    </head>
    <body>
        <form action="/create-user" method="post">
            <input type="text" placeholder="Enter username" name="username"/>
            <br><br>
            <input type="text" placeholder="Enter email" name="email"/>
            <br><br>
            <input type="text" placeholder="Enter password" name="password"/>
            <br><br>
            <button>Submit</button>
        </form>
    </body>
</html>