<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/style2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>
        <div class="links">
            <div class="link1">
                <!-- <a href="login">Login</a> -->
                <form action="/register" method="get">
                    <button>Register</button>
                </form>

            </div>
            <br><br>
            <div class="link2">
                <!-- <a  href="register">Register</a> -->
                <form action="/login" method="get">
                    <button>Login</button>
                </form>

            </div>

        </div>
        <div class="contact">
            <div class="mail">
                <a href="mailto:test@gmail.com">Contact</a>


            </div>

        </div>
        
        
        
    </body>
</html>